body{
	font-family: Times New Roman, sans-serif;
	color: #303333;
	margin: 8px 20px;
}

.Datos{
	text-align: center;
}

.Subtitle{
	margin: 12px 0px 0px 0px;
}

.content {
	margin: 8px 0px 8px 0px;
}

.educationSubtitle {
	font-weight: bold;
}

.cisco {
	list-style: none;
}

#nombrePersona{
	margin: 3px;
}

.informacionPersona{
	margin: 0px;
	font-size: 16px;
	font-weight: 800;
}

.Fecha{
	font-style: italic;
}

#seccionDatos{
	overflow: hidden;
}

img{
	margin: 3px;
	padding: 0px;
	float: right;
	border-radius: 25px;
}

#noMover{
	position: absolute;
}